@model FinanceScraper3.Models.StockViewModel

@{
    ViewData["Title"] = "Your stocks for this snapshot:";
}

<br>

<div class="panel panel-success">
    <div style="font-weight: bold" class="panel-heading">
        <h3>@ViewData["Title"]</h3>
    </div>

    <table class="table table-hover table-bordered">
        <thead>
            <tr style="font-weight: bold">
                <td>Stock</td>
                <td>Price</td>
                <td>Change By $</td>
                <td>Change By %</td>
                <td>Shares</td>
                <td>Cost Basis</td>
                <td>Market Value</td>
                <td>Day Gain By $</td>
                <td>Day Gain By %</td>
                <td>Total Gain By $</td>
                <td>Total Gain By %</td>
                <td>Lots</td>
                <td>Notes</td>
            </tr>
        </thead>

        @if(Model == null){
            <span>no items found</span>
        }
        else {
        @foreach (var snap in Model.Stocks)
        {   
            <tr>
                <td style="font-weight: bold">@Html.DisplayFor(x => snap.StockSymbol)</td>
                <td>@Html.DisplayFor(x => snap.CurrentPrice)</td>
                <td>@Html.DisplayFor(x => snap.ChangeByDollar)</td>
                <td>@Html.DisplayFor(x => snap.ChangeByPercent)</td>
                <td>@Html.DisplayFor(x => snap.Shares)</td>
                <td>@Html.DisplayFor(x => snap.CostBasis)</td>
                <td>@Html.DisplayFor(x => snap.MarketValue)</td>
                <td>@Html.DisplayFor(x => snap.DayGainByDollar)</td>
                <td>@Html.DisplayFor(x => snap.DayGainByPercent)</td>
                <td>@Html.DisplayFor(x => snap.TotalGainByDollar)</td>
                <td>@Html.DisplayFor(x => snap.TotalGainByPercent)</td>
                <td>@Html.DisplayFor(x => snap.Lots)</td>
                <td>@Html.DisplayFor(x => snap.Notes)</td>
            </tr>
            }
        }
    </table>

    </div>
