@model FinanceScraper3.Models.PortfolioViewModel

@{
    ViewData["Title"] = "Your Snapshots";
}

<br><br><br>



    <h2>@ViewData["Title"]</h2>
    <h5>Click each date for more details</h5>


    <table class="table table-striped table-bordered">
        <thead>
            <tr style="font-weight: bold">
                <th><a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">Date of Snapshot</a></th>
                <th><a asp-action="Index" asp-route-sortOrder="@ViewData["TotalValueSortParm"]">Total Value</a></th>
                <th><a asp-action="Index" asp-route-sortOrder="@ViewData["DayGainSortParm"]">Day Gain</a></th>
                <th><a asp-action="Index" asp-route-sortOrder="@ViewData["DayGainPercentSortParm"]">Day Gain %</a></th>
                <th><a asp-action="Index" asp-route-sortOrder="@ViewData["TotalGainSortParm"]">Total Gain</a></th>
                <th><a asp-action="Index" asp-route-sortOrder="@ViewData["TotalGainPercentSortParm"]">Total Gain %</a></th>

            </tr>
        </thead>

        @if(Model == null){
            <span>no items found</span>
        }
        else {
        @foreach (var snapshot in Model.PortfolioSnapshots)
        {   
            <tr>
                <td><a asp-controller="Stocks" asp-route-id="@snapshot.Id">@snapshot.Date</a></td>
                <td>@Html.DisplayFor(x => snapshot.TotalValue)</td>
                <td>@Html.DisplayFor(x => snapshot.DayGain)</td>
                <td>@Html.DisplayFor(x => snapshot.DayGainPercent)</td>
                <td>@Html.DisplayFor(x => snapshot.TotalGain)</td>
                <td>@Html.DisplayFor(x => snapshot.TotalGainPercent)</td>
            </tr>
            }
        }
    </table>

<div class= "panel-footer new-snapshot-form">
    @await Html.PartialAsync("TriggerSnapshotPartial", new Portfolio())
</div>
