@model FinanceScraper3.Models.PortfolioViewModel

@{
    ViewData["Title"] = "Snapshots";
}

<h2>Your Snapshots:</h2>


<div class="panel panel-default todo-panel">
    <div class="panel-heading">@ViewData["Title"]</div>



    <table class="table table-hover">
        <thead>
            <tr>
                <td>Date Snapped</td>
                <td>Total Value</td>
                <td>Day Gain</td>
                <td>Day Gain %</td>
                <td>Total Gain</td>
                <td>Total Gain %</td>
                <td>See more</td>

            </tr>
        </thead>

        @if(Model == null){
            <span>no items found</span>
        }
        else {
        @foreach (var snapshot in Model.PortfolioSnapshots)
        {   
            <tr>
                <td>@snapshot.Date</td>
                <td>@snapshot.TotalValue</td>
                <td>@snapshot.DayGain</td>
                <td>@snapshot.DayGainPercent</td>
                <td>@snapshot.TotalGain</td>
                <td>@snapshot.TotalGainPercent</td>
                <td><a asp-controller="Stocks" asp-route-id="@snapshot.Id">Click for more info</a></td>
            </tr>
            }
        }
    </table>





<div class= "panel-footer new-snapshot-form">
    @await Html.PartialAsync("TriggerSnapshotPartial", new Portfolio())
</div>




@*
@model FinanceScraper3.Models.Portfolio

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
*@

@*

<p>If you'd like to trigger a new snap shot of your portfolio, please click the button below</p>

<!-- <button id="new-snap" class="btn btn-info">Trigger New Snapshot</button> -->


        <button type="button" value= "NewSnapshot" onclick="location.href='@Url.Action("NewSnapshot", "Snapshots")'">Trigger New Snapshot</button>

*@


@*
@section scripts
{
    <script>

        $(document).ready(function () {

        var newSnap = $('#new-snap');
        // newSnap.click(function(){
        //     alert("scraper running"); 
        // });
            newSnap.click(function(){
                // alert("scraper running"); 
                var url = '@Url.Action("NewSnapshot", "Snapshots")';
        });
    });


    </script>
}
*@