@model FinanceScraper3.Models.PortfolioViewModel

@{
    ViewData["Title"] = "Your Snapshots";
}

<br>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3>@ViewData["Title"]</h3>
        <h5>Click each date for more details</h5>
    </div>

    <table class="table table-hover table-bordered">
        <thead>
            <tr style="font-weight: bold">
                <td>Date Snapped</td>
                <td>Total Value</td>
                <td>Day Gain</td>
                <td>Day Gain %</td>
                <td>Total Gain</td>
                <td>Total Gain %</td>
            </tr>
        </thead>

        @if(Model == null){
            <span>no items found</span>
        }
        else {
        @foreach (var snapshot in Model.PortfolioSnapshots)
        {   
            <tr>
                <td><a asp-controller="Stocks" asp-route-id="@snapshot.Id">@snapshot.Date</a></td>
                <td>@Html.DisplayFor(x => snapshot.TotalValue)</td>
                <td>@Html.DisplayFor(x => snapshot.DayGain)</td>
                <td>@Html.DisplayFor(x => snapshot.DayGainPercent)</td>
                <td>@Html.DisplayFor(x => snapshot.TotalGain)</td>
                <td>@Html.DisplayFor(x => snapshot.TotalGainPercent)</td>
            </tr>
            }
        }
    </table>



<div class= "panel-footer new-snapshot-form">
    @await Html.PartialAsync("TriggerSnapshotPartial", new Portfolio())
</div>




@*
@model FinanceScraper3.Models.Portfolio

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
*@

@*

<p>If you'd like to trigger a new snap shot of your portfolio, please click the button below</p>

<!-- <button id="new-snap" class="btn btn-info">Trigger New Snapshot</button> -->


        <button type="button" value= "NewSnapshot" onclick="location.href='@Url.Action("NewSnapshot", "Snapshots")'">Trigger New Snapshot</button>

*@


@*
@section scripts
{
    <script>

        $(document).ready(function () {

        var newSnap = $('#new-snap');
        // newSnap.click(function(){
        //     alert("scraper running"); 
        // });
            newSnap.click(function(){
                // alert("scraper running"); 
                var url = '@Url.Action("NewSnapshot", "Snapshots")';
        });
    });


    </script>
}
*@